name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout do código
      uses: actions/checkout@v4

    - name: Subir ambiente com Docker Compose
      run: docker-compose up -d --build

    - name: Esperar base de dados
      run: sleep 10

    - name: Rodar Testes
      run: docker-compose exec -T web python manage.py test

    - name: Desligar containers
      run: docker-compose down

  build-and-push:
    needs: test # Só corre se os testes passarem!
    runs-on: ubuntu-latest
    # Só faz deploy se for um push na main (não em PRs)
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'

    steps:
    - name: Checkout do código
      uses: actions/checkout@v4

    - name: Login no Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build e Push da Imagem
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/api-gestao-financeira:latest
